@import url('http://fonts.googleapis.com/css?family=Monda');
@import "bootstrap";

body {
  padding: 3px;
  font-family: "Monda","Lucida Sans Unicode", Arial, Helvetica, sans-serif;
  font-size: 11pt;
  margin-bottom: 0px;
  margin-top: 5px;
}

table, th, td {
  align-content: center;
}

th, td {
  padding-left: 35px;
}

td {
  font-size: 2em;
  align-content: center;
  padding-bottom: 10px;
  padding-top: 10px;
}

.btn {
  min-width: 100px;
}

.btn-group {
  padding-left: 10px;
}

p {
  padding-left: 10px;
}

.top {
  width: 100%;
  background-color: #83b740;
  line-height: 2;
}

.bottom {
  width: 100%;
  background-color: #000000;
  color: white;
  line-height: 2;
}