@import "bootstrap";

body {
  padding: 3px;
  font-family:  "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
  font-size: 14pt;
  margin-bottom: 0px;
  margin-top: 5px;
}

table, th, td {
  align-content: center;
}

th, td {
  padding-left: 35px;
}

td {
  font-size: 2em;
  align-content: center;
  padding-bottom: 10px;
  padding-top: 10px;
}

.btn {
  min-width: 100px;
}