@import url('http://fonts.googleapis.com/css?family=Monda');
@import "bootstrap";

body {
  padding: 0px;
  font-family: "Monda", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
  font-size: 11pt;
  margin-bottom: 0px;
  margin-top: 3px;
}

th, td {
  padding-left: 25px;
}

th {
  font-size: 1em;
}

td {
  font-size: 2em;
  padding-bottom: 10px;
}

.btn {
  min-width: 60px;
}

.btn-group {
  padding-left: 10px;
}

p {
  padding-left: 10px;
}