@import "bootstrap";
@import url('http://fonts.googleapis.com/css?family=Lucida Grande');

body {
  padding: 3px;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
  font-size: 11pt;
  margin-bottom: 0px;
  margin-top: 3px;
}

th, td {
  padding: 5px;
}

th {
  font-size: 1em;
}

td {
  font-size: 2em;
}

.btn {
  min-width: 65px;
}